[satusehat]
organization_id = $ORGANIZATION_ID
client_key = $CLIENT_KEY
secret_key = $SECRET_KEY
url = $API_URL
dicom_pathsuffix = /dicom/v1/dicomWeb/studies
fhir_pathsuffix = /fhir-r4/v1
tz_name = Asia/Jakarta
ae_title = DCMROUTER
dicom_port = 11112
dcm_dir = /in/
http_port = 8080
mroc_client_url = http://0.0.0.0:8081
